<div class="center hero-unit">
	<h1>Squares New</h1>

<%= form_for @tictactoe do |f| %>
  <%= f.fields_for :squares do |builder| %>
    <%= builder.hidden_field :num, :rows => 9 %>
  <% end %>
  <p><%= f.submit "Create Squares", class: "btn btn-large btn-primary" %></p>
<% end %>        

</div>
