<% provide(:title, 'Welcome') %>
<div class="center">  
  <div class="row">
    <div class="span5 offset1">
      <h1>Tic Tac Toe</h1>
      <h2>Welcome!</h2>  
      <p>A game of Tic Tac Toe.</p>
      <p>Human vs CPU.</p>  
      <p>Think you got what it takes? </p>     
      </br>
      <%= button_to "Start Game!", {:action => :create}, :method => :post, :class => 'btn btn-large btn-primary' %>
    </div>
    <div class="span4 offset1">
      <%= render 'shared/emptyboard' %>
    </div>
    <div class="span1">
    </div>    
  </div>
</div>