<div class="center hero-unit">
  <h1>Player Setup</h1>
  </br>
  <strong>Player 1 name: </strong>
  <input class="input-small" type="text">
  <strong>Player 2 name: </strong>
  <input class="input-small" type="text">

  </br>

  <strong>Player 1 mark: </strong>
  <input class="input-small" type="text">
  <strong>Player 2 mark: </strong>
  <input class="input-small" type="text">

  </br>

    <%= link_to "Play!", game_path, class: "btn btn-large btn-primary" %>

</div>