<div class="center hero-unit">
  <h1>Tic Tac Toe</h1>


  <table class="table">
    <tr>
      <form class="form-inline">  
        <p>   
          <strong>Square 1:</strong>
          <input type="text" class="input-mini">
          <button type="submit" class="btn btn-mini">Submit</button>  
          <strong>Square 2:</strong>
          <input type="text" class="input-mini">
          <button type="submit" class="btn btn-mini">Submit</button>
          <strong>Square 3:</strong>
          <input type="text" class="input-mini">
          <button type="submit" class="btn btn-mini">Submit</button>  
        </p>         
      </form>      
    </tr>
    <tr>
      <form class="form-inline"> 
        <p>
          <strong>Square 4:</strong>
          <input type="text" class="input-mini">
          <button type="submit" class="btn btn-mini">Submit</button>
          <strong>Square 5:</strong>
          <input type="text" class="input-mini">
          <button type="submit" class="btn btn-mini">Submit</button>
          <strong>Square 6:</strong>
          <input type="text" class="input-mini">
          <button type="submit" class="btn btn-mini">Submit</button>                    
        </p>
      </form>
    </tr>    
    <tr>
      <form class="form-inline"> 
        <p>
          <strong>Square 7:</strong>
          <input type="text" class="input-mini">
          <button type="submit" class="btn btn-mini">Submit</button>
          <strong>Square 8:</strong>
          <input type="text" class="input-mini">
          <button type="submit" class="btn btn-mini">Submit</button>
          <strong>Square 9:</strong>
          <input type="text" class="input-mini">
          <button type="submit" class="btn btn-mini">Submit</button>                  
        </p>
      </form>
    </tr>     
  </table>

</div>
